# Pandas

Pandas or "Panel Data" is the core library to handle structured data in Python. Structured data is just data in a tabular format (like in Excel). 

The core of Pandas is the DataFrame. A DataFrame is basically a table and is composed of Series. A Series is a set of values that are indexed. Try the code below.

In [1]:
import pandas as pd

series_test = [1, 2, 3, 6, 7]
print(pd.Series(series_test))

0    1
1    2
2    3
3    6
4    7
dtype: int64

### DataFrames

Although we've almost entirely created our own data throughout this process, you'll usually work with data that already exists. This is where the `read_***` method of Pandas comes in. This allows you to read in data from any number of data sources including:

- CSVs
- Excel
- Stata
- SAS
- SPSS
- SQL
- Big Query
- ORC
- and much more!

For this tutorial we'll be sticking mostly to reading CSV's because there usually are special setups you need to get right to read data from SQL databases. 

A CSV stands for "comma-separated values" and is a text format that separates each record with a comma and each line with a newline ("enter" key). It is part of a family of formats that include tab-separated values where the commas are separated by tabs, and pipe-separated values where the commas are separated by pipes (|). The commas, tabs, and pipes are what we call "delimiters".

In [3]:
import os

pwd = os.getcwd()

pwd

'/Users/dickinsd/Github/python-for-data-analysts'

import os # This will be used to tell us where the file is
import pandas as pd

pwd = os.getcwd() # This creates a string of the folder this Python Script is stored in

filepath = pwd + "/simple_csv.csv" # This creates a string that is the filepath to the simple_csv file

first_import = pd.read_csv(filepath) # This reads the csv into Python
first_import

In [5]:
filepath = pwd + "/simple_csv.csv"

first_import = pd.read_csv(filepath)

first_import

     Column1   Column2   Column3
0   0.280925  0.910368  0.692982
1   0.719882  0.210024  0.761276
2   0.235752  0.059796  0.154667
3   0.603366  0.485614  0.013345
4   0.039985  0.236359  0.811832
5   0.015478  0.543641  0.112719
6   0.192540  0.409874  0.875082
7   0.380921  0.045468  0.515859
8   0.592471  0.786421  0.047249
9   0.072112  0.695694  0.409573
10  0.898072  0.070956  0.209020
11  0.722038  0.211985  0.324164
12  0.513517  0.091548  0.664279
13  0.436729  0.040322  0.548167
14  0.864039  0.963556  0.106398
15  0.724761  0.410422  0.587589
16  0.198926  0.245207  0.767356
17  0.748500  0.019264  0.046678
18  0.920639  0.212611  0.520463
19  0.452024  0.123660  0.847451
20  0.542977  0.265852  0.410926
21  0.355266  0.860616  0.589431
22  0.142688  0.406456  0.204095
23  0.850436  0.129426  0.719027
24  0.443476  0.388967  0.596924
25  0.467100  0.416908  0.098037
26  0.338536  0.935814  0.736899
27  0.942101  0.772005  0.441574
28  0.570130  0.780085  0.085592

You'll see here, if you want to read a specific sheet from an Excel file then you'll need to use the argument sheet_name

> excel_import = pd.read_excel(filepath, sheet_name="Sheet1")

In [8]:
first_import["Column1"]

0     0.280925
1     0.719882
2     0.235752
3     0.603366
4     0.039985
5     0.015478
6     0.192540
7     0.380921
8     0.592471
9     0.072112
10    0.898072
11    0.722038
12    0.513517
13    0.436729
14    0.864039
15    0.724761
16    0.198926
17    0.748500
18    0.920639
19    0.452024
20    0.542977
21    0.355266
22    0.142688
23    0.850436
24    0.443476
25    0.467100
26    0.338536
27    0.942101
28    0.570130
Name: Column1, dtype: float64

first_import.Column1
first_import["Column1"] # You can use either of these techniques to specify a column in a table. I prefer the second one because it allows your column names to have spaces in them

In [10]:
sum(first_import.Column1) # just wanted to know if you can sum against a column

14.265388315

In [11]:
sum(first_import["Column1"])

14.265388315

Let's see if we can create a column and drop (delete) another column.

In [13]:
first_import["New_Column"] = 1 # You can specify a uniform value for every row 
first_import["New_Column"]

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
Name: New_Column, dtype: int64

In [15]:
first_import["New_Column2"] = range(29) # You can pass a list of values that is as long as the DataFrame

first_import["New_Column2"]

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
Name: New_Column2, dtype: int64

In [16]:
first_import["Adding stuff"] = first_import["Column3"] + first_import["Column1"] # You can take a couple of columns and add their values together
first_import["Adding stuff"]

0     0.973907
1     1.481158
2     0.390419
3     0.616711
4     0.851816
5     0.128197
6     1.067622
7     0.896780
8     0.639721
9     0.481685
10    1.107093
11    1.046201
12    1.177795
13    0.984896
14    0.970438
15    1.312350
16    0.966282
17    0.795178
18    1.441103
19    1.299475
20    0.953903
21    0.944697
22    0.346783
23    1.569464
24    1.040399
25    0.565137
26    1.075435
27    1.383675
28    0.655722
Name: Adding stuff, dtype: float64

In [17]:
first_import

     Column1   Column2   Column3  New_Column  New_Column2  Adding stuff
0   0.280925  0.910368  0.692982           1            0      0.973907
1   0.719882  0.210024  0.761276           1            1      1.481158
2   0.235752  0.059796  0.154667           1            2      0.390419
3   0.603366  0.485614  0.013345           1            3      0.616711
4   0.039985  0.236359  0.811832           1            4      0.851816
5   0.015478  0.543641  0.112719           1            5      0.128197
6   0.192540  0.409874  0.875082           1            6      1.067622
7   0.380921  0.045468  0.515859           1            7      0.896780
8   0.592471  0.786421  0.047249           1            8      0.639721
9   0.072112  0.695694  0.409573           1            9      0.481685
10  0.898072  0.070956  0.209020           1           10      1.107093
11  0.722038  0.211985  0.324164           1           11      1.046201
12  0.513517  0.091548  0.664279           1           12      1.177795
13  0.436729  0.040322  0.548167           1           13      0.984896
14  0.864039  0.963556  0.106398           1           14      0.970438
15  0.724761  0.410422  0.587589           1           15      1.312350
16  0.198926  0.245207  0.767356           1           16      0.966282
17  0.748500  0.019264  0.046678           1           17      0.795178
18  0.920639  0.212611  0.520463           1           18      1.441103
19  0.452024  0.123660  0.847451           1           19      1.299475
20  0.542977  0.265852  0.410926           1           20      0.953903
21  0.355266  0.860616  0.589431           1           21      0.944697
22  0.142688  0.406456  0.204095           1           22      0.346783
23  0.850436  0.129426  0.719027           1           23      1.569464
24  0.443476  0.388967  0.596924           1           24      1.040399
25  0.467100  0.416908  0.098037           1           25      0.565137
26  0.338536  0.935814  0.736899           1           26      1.075435
27  0.942101  0.772005  0.441574           1           27      1.383675
28  0.570130  0.780085  0.085592           1           28      0.655722

In [18]:
first_import = first_import.drop(columns="Column2")

In [19]:
first_import.drop(columns="Column3", inplace=True) # The "drop" method creates a copy of the DataFrame. If you want to change the original DataFrame either do what we did in the line above, or use the "inplace" argument


first_import

     Column1  New_Column  New_Column2  Adding stuff
0   0.280925           1            0      0.973907
1   0.719882           1            1      1.481158
2   0.235752           1            2      0.390419
3   0.603366           1            3      0.616711
4   0.039985           1            4      0.851816
5   0.015478           1            5      0.128197
6   0.192540           1            6      1.067622
7   0.380921           1            7      0.896780
8   0.592471           1            8      0.639721
9   0.072112           1            9      0.481685
10  0.898072           1           10      1.107093
11  0.722038           1           11      1.046201
12  0.513517           1           12      1.177795
13  0.436729           1           13      0.984896
14  0.864039           1           14      0.970438
15  0.724761           1           15      1.312350
16  0.198926           1           16      0.966282
17  0.748500           1           17      0.795178
18  0.920639           1           18      1.441103
19  0.452024           1           19      1.299475
20  0.542977           1           20      0.953903
21  0.355266           1           21      0.944697
22  0.142688           1           22      0.346783
23  0.850436           1           23      1.569464
24  0.443476           1           24      1.040399
25  0.467100           1           25      0.565137
26  0.338536           1           26      1.075435
27  0.942101           1           27      1.383675
28  0.570130           1           28      0.655722

### Rows

Rows can be a bit more complicated to deal with in Pandas. You'll be using the `loc` and `iloc` functions a lot.

The `loc` method allows us to use the names of columns to specify them. 

You structure a `loc` query like below: 

`dataframe.loc[from_row : to_row , [list_of_columns]]`